:root {
  --color-header: hsl(255, 27, 29);
  --color-text: hsl(209, 9, 55);
  --color-background: #f1f6f8;
  --color-accent: #008661;

  --border-radius: 10px;
  --font-main: Avenir, Helvetica, Arial, sans-serif;
}
